<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="File" 
                     bufferedIO="true" immediateFlush="true" append="true"
                     filePattern="${sys:user.home}/.jsettlers/log/settlers-remake-tools-%d{yyyy-MM-dd-HH-mm-ss}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="0"/>
            </Policies>
            <!--
                     fileName="${sys:user.home}/.jsettlers/settlers-installer.log" 
            <DefaultRolloverStrategy/>-->
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- error, warn, info, debug, trace -->
    <Logger level="debug" name="settlers.installer.ui.GameList"/>
    <Root level="TRACE">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>